#include  utopia_motivation_baseline.cfg

[perf_model/tlb_cache]
l1 = 4
l2 = 12
nuca = 30


[perf_model/utopia/ulb]
enabled = "false"
size = 64
assoc = 4
access_penalty = 1
miss_penalty = 0

[perf_model/utopia/tagcache]
enabled = "false"
size = 2048
assoc = 4
access_penalty = 1
miss_penalty = 0

[perf_model/utopia/pcache]
enabled = "false"
size = 2048
assoc = 4
access_penalty = 1
miss_penalty = 0

