#include  utopia_motivation_baseline.cfg
#include  virtual_memory_configs/common_translation.cfg

[perf_model/tlb]
penalty = 300
penalty_parallel = "true"
translation_enabled = true
l1_access_penalty = 1
l2_access_penalty = 12
l1_miss_penalty = 0
l2_miss_penalty = 0
memory_tracking = "false"
tracking_file = "mem_track.txt"
pagesize = 12
page_sizes = 2
page_size_list = 12, 21
track_accesses = true
track_misses = true
potm_enabled = false
victima = true

[perf_model/ptw]
enabled = "true" #radix by default

[perf_model/l2_cache/srrip]
bits = 2
tlb_enabled = false

[perf_model/nuca/cache/srrip]
bits = 2
tlb_enabled = false

[perf_model/victima]
victimize_on_ptw="false"


[general]
total_cores = 2

[network/emesh_hop_by_hop]
hop_latency = 4            # Per-hop latency in core cycles
link_bandwidth = 512       # Per-link, per-direction bandwidth in bits/cycle
dimensions = 2             # Mesh dimensions (1 for line/ring, 2 for mesh/torus)
wrap_around = false        # Has wrap-around links? (false for line/mesh, true for ring/torus)
concentration = 1          # Number of cores per network interface (must be >= last-level-cache/shared_cores)
size = "2:1"